<%- include('partial/head.ejs') %>
<main class="main" id="top">
    <%- include('partial/menu.ejs') %>
    <%- include('partial/intro.ejs') %>
    <%- include('partial/simple-search.ejs') %>
    <%- include('partial/projects-list.ejs') %>
    <%- include('partial/news-list.ejs') %>
    <%- include('partial/page-footer.ejs') %>
</main>
<%- include('partial/footer.ejs') %>