<%- include('partial/head.ejs') %>
    <main class="main" id="top">
        <%- include('partial/menu.ejs') %>
            <div class="container" style="margin-top: 100px;">
                <div class="rowjustify-content-center circle">
                    <div class="col-md-14 col-lg-12 py-12 text-sm-start text-center">
                        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">
                            <%= page.title %>
                        </h5>
                                            <%- page.content %>
                    </div>
                </div>
                
                <div class="container container-md-fluid">
                    <div class="row flex-center circle-blend circle-blend-left circle-cyan">
                        <div class="col-12">
                            <div class="row circle-blend circle-blend-right circle-warning" id="projects">
                                <% if (page.path==='projects/index.html' ) { %>
                                    <% site.posts.data.forEach( post => {%>
                                        <% if (post.title) { %>
                                            <div class="col-md-6 col-lg-4 mb-4 
                                            <% if (post.location === 'улице') {%>
                                                onStreet
                                            <% } %>
                                            <% if (post.location === 'дома') {%>
                                                atHome
                                            <% } %>
                                            <% if (post.participation === 'активное') {%>
                                                active
                                            <% } %>
                                            <% if (post.participation === 'пассивное') {%>
                                                passive
                                            <% } %>
                                            " style="min-height: 447px;">
                                                <a class="btn btn-lg ps-0 pe-3" href="<%= post.permalink %>" style="text-decoration: none; color:black" role="button">
                                                    <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">

                                                        <h6 class="text-gradient fw-bold">
                                                            <%= post.title %>
                                                        </h6>
                                                        <hr class="text-100" />
                                                        <% if (post.small_logo) { %>
                                                            <img
                                                            class="me-3 me-md-3"
                                                            src="/img/projects/<%= post.logo_path %>/<%= post.small_logo %>"
                                                            alt="<%= post.title %>"
                                                            style="display: block; margin: 0 auto; max-width: 100%; border-radius: 25px"
                                                            />
                                                        <% } %>
                                                        <p class="mt-3 mb-md-0 mb-lg-3"><%= post.description %></p>

                                                        <div class="align-items-center mt-4" style="font-size: 15px; margin-top 15px;">
                                                            <%= post.participation %> участие<br>
                                                            Где делать: <%if (post.location === "улице") { %>На <% } %>
                                                            <%= post.location %>
                                                        </div>
                                                        <div class="text-primary">
                                                            Узнать больше
                                                            <svg
                                                            class="bi bi-arrow-right-short"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="25"
                                                            height="25"
                                                            fill="currentColor"
                                                            viewBox="0 0 16 16"
                                                            >
                                                            <path
                                                                fill-rule="evenodd"
                                                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                                                            ></path></svg>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container container-md-fluid">
                    <div class="row flex-center h-100 circle-blend circle-blend-left circle-cyan">
                        <div class="col-12">
                            <!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
<!-- Yandex.RTB R-A-2145405-1 -->
<div id="yandex_rtb_R-A-2145405-1"></div>
<script>window.yaContextCb.push(()=>{
  Ya.Context.AdvManager.render({
    renderTo: 'yandex_rtb_R-A-2145405-1',
    blockId: 'R-A-2145405-1'
  })
})</script>
                        </div>
                    </div>
                </div>
                <%- include('partial/page-footer.ejs') %>
    </main>
    <%- include('partial/footer.ejs') %>
