

<%- include('partial/head.ejs') %>
<main class="main" id="top">
    <%- include('partial/menu.ejs') %>
    <div class="container" style="margin-top: 100px;">
        <div class="rowjustify-content-center circle">
            <div class="col-md-14 col-lg-12 py-12 text-sm-start text-center">
                <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3"><%= page.title %></h5>
                <%- page.content %>
            </div>
        </div>
    </div>
    <%- include('partial/page-footer.ejs') %>
</main>
<%- include('partial/footer.ejs') %>
